.card {
    background-color: teal;
    width: 800px;
    min-height: 280px;
    
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 10px black;
    padding: 10px;
    margin: 20px;
}

.title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 15px;
    color: rgb(107, 70, 37);

    border: 3px solid black;
    text-shadow: 1px 1px 2px black;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.4);
}

.card_txt {
    font-size: 1.2em;
    margin: 20px;
    color: black;
    text-shadow: 1px 1px 2px rgb(68, 64, 64);
}

.api-btn {
    display: block;

    text-align: center;
    margin: 30px;
    padding: 15px;

    background-color: limegreen;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;

    border-radius: 30px;
    border: 2px solid black;
    box-shadow: 1px 1px 5px black;
}