#formatting-toolbar {
    display: flex;
    justify-content: start;

    background-color: teal;
    border: 2px solid black;
    width: 100%;
    border-radius: 20px;
}

.radio_container {
    display: flex;
    align-items: center;
}

.radio_input {
    display: none;
}

.format-btn {
    width: 100%;
    height: 70%;

    margin: 7px;
    border: none;
    background-color: lightgrey;
    cursor: pointer;
    font-size: 16px;
    border-radius: 3px;
    text-align: center;
}
.radio_input:checked + .format-btn {
    background-color: darkgray;
    color: white;
    box-shadow: inset 2px 2px 5px rgba(0,0,0,0.3);
}

.format-btn:hover {
    background-color: darkgrey;
}

#editor {
    align-self: center;

    background-color: white;
    min-height: 80vh;
    width: 70vw;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}