    #addBtn {
        width: 100px;
        height: 150px;

        color: darkcyan;
        background-color: aliceblue;
        font-size: 400%;

        border: 2px solid black;
        border-radius: 10%;

        box-shadow: 0 5px 10px black;
    }

    #addBtn:hover {
        border-color: darkcyan;
        background-color: azure;
        cursor: pointer;
    }

    